AWP_Assignment/XML/AssignXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:element name="note">
<xs:complexType >
<xs:sequence>
<xs:element name="to"></xs:element>
<xs:element name="from"></xs:element>
<xs:element name="heading"></xs:element>
<xs:element name="body"></xs:element>
</xs:sequence>

</xs:complexType>
</xs:element>
</xs:schema>