AWP_Assignment/XML/demo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="branch">
    <xs:complexType>
	<xs:sequence>
	  
        <xs:element name="stem" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
   
        <xs:element name="leaf" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      
	  </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>