AWP_Assignment/XML/sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:element name="computer">
<xs:complexType>
<xs:sequence>
<xs:element name="port" minOccurs="0" maxOccurs="2">
</xs:element>
<xs:element name="ship" >
</xs:element>


</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>