AWP_Assignment/XML/vehicles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:element name="vehicles">
<xs:complexType>
<xs:sequence>
<xs:element name="vehicle" minOccur="1" maxOccur="unbounded" >
<xs:complexType>
<xs:attribute name="orderid" type="xs:string"/>
<xs:complexType>

</xs:element>
<xs:element name="from"></xs:element>
<xs:element name="heading"></xs:element>
<xs:element name="body"></xs:element>


</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>