AWP_Assignment/XSLT/pocis1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="port">
<xs:complexType>
<xs:sequence>
<xs:element name="A" type="junk"/>
<xs:element name="D" type="junk"/>
</xs:sequence>
<xs:attribute name="no" type="xs:string"/>
</xs:complexType>
</xs:element>

<xs:complexType name="junk">
<xs:sequence>
	<xs:element name="B" >
	<xs:simpleType>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="20"/>
      <xs:maxInclusive value="40"/>
    </xs:restriction>
  </xs:simpleType>
	
	</xs:element>
	<xs:element name="C" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>



</xs:schema>